<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>فیکو | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/main.css"/>
    <link rel="stylesheet" href="~/css/theme-1.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-rtl.css"/>
</head>
<body class="is-preload">


<div id="wrapper">

    <partial name="Header"/>

    <div id="main">

        @RenderBody()

        <partial name="Footer"/>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery.scrollex.min.js"></script>
<script src="~/js/jquery.scrolly.min.js"></script>
<script src="~/js/browser.min.js"></script>
<script src="~/js/breakpoints.min.js"></script>
<script src="~/js/util.js"></script>
<script src="~/js/main.js"></script>
<script defer src="~/fonts/awesome/all.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>