<section class="footer text-center py-4 bg-light">
    <ul style="list-style-type: none" class="copyright">
        <li>&copy;حق انتشار محفوظ است.</li>
        <li>طراحی: <a href="https://bki.ir">فیکو</a></li>
    </ul>
</section>