<section class="about-me-section p-3 p-lg-5 theme-bg-light">
    <div class="container">
        <div class="profile-teaser media flex-column flex-lg-row">
            <img class="profile-image mb-3 mb-lg-0 ml-lg-5 mr-md-0" src="~/images/me.jpg" alt="">
            <div class="media-body">
                <h2 class="name font-weight-bold mb-1 p-3">احسان اصلانی</h2>
                <div class="tagline mb-3 p-3">برنامه نویس ارشد</div>
                <div class="bio mb-4 p-3">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                    طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و
                    جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                </div>
                <div class="mb-4">
                    <a class="btn btn-primary mr-2 mb-3" href="http://www.atriya.com"><i
                                                                                          class="fas fa-arrow-alt-circle-right ml-2"></i><span class="d-none d-md-inline">برو
                        به </span> فیکو</a>
                    <a class="btn btn-secondary mb-3" href="#">
                        <i class="fas fa-file-alt ml-2"></i>
                        <span class="d-none d-md-inline">مشاهده </span> نمونه کارها</a>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="header">
    <header>
        <h1 id="logo">
            <a href="#">احسان اصلانی</a>
        </h1>
        <span class="image avatar">
            <img src="~/images/me.jpg" alt="" />
        </span>
        <p>
            سلام، احسان اصلانی هستم از<br />
            شرکت فیکو.<br />
            به وبسایت شخص من خوش آمدید.
        </p>
    </header>
    <nav id="nav">
        <ul>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">صفحه اصلی</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">ارتباط با ما</a>
            </li>
        </ul>
    </nav>
    <footer>
        <ul class="icons">
            <li>
                <a href="#" class="icon brands fa-twitter">
                    <span class="label">توئیتر</span>
                </a>
            </li>
            <li>
                <a href="#" class="icon brands fa-facebook-f">
                    <span class="label">فیس بوک</span>
                </a>
            </li>
            <li>
                <a href="#" class="icon brands fa-instagram">
                    <span class="label">اینستاگرام</span>
                </a>
            </li>
            <li>
                <a href="#" class="icon brands fa-github">
                    <span class="label">گیت هاب</span>
                </a>
            </li>
            <li>
                <a href="#" class="icon solid fa-envelope">
                    <span class="label">ایمیل</span>
                </a>
            </li>
        </ul>
    </footer>
</section>