@model Contact
@{
    ViewData["Title"] = "ارتباط با ما";
}

@*
<div class="row py-5 justify-content-center">
    <div class="col-8">
        <div class="row py-5 align-center justify-content-center border">
            <div class="align-center col-8">
                <section class="">
                    <h4 class="py-5">با ما همیشه در تماس باشید</h4>
                    <p>
                        همیشه میتوانید از طریق شبکه های اجتماعی <br/>
                        و در لحظه در ارتباط باشید.<br />
                        پس ما را دنبال کنید و نظرات خود را <br />
                        به صورت آنلاین با ما در ارتباط بگذارید<br />
                    </p>
                    
                </section>
            </div>
        </div>
    </div>
</div>
*@

<div class="row py-1 justify-content-center">
    <div class="col-8">
        <div class="row py-5 align-center justify-content-center border">
            <div class="align-center col-8">
                <section class="">

                    @if (string.IsNullOrWhiteSpace(ViewBag.error))
                    {
                        <div class="alert-danger">
                            <p>@ViewBag.error</p>
                        </div>
                    }

                    @if (string.IsNullOrWhiteSpace(ViewBag.success))
                    {
                        <div class="alert-success">
                            <p>@ViewBag.success</p>
                        </div>
                    }

                    <h4 class="py-3">فرم درخواست ارتباط</h4>
                    <form method="post" asp-action="Contact">
                        <div class="row gtr-uniform">
                            <div class="col-6 col-12-xsmall">
                                <input type="text" asp-for="Name" value="" placeholder="نام" />
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <input type="email" asp-for="Email" value="" placeholder="ایمیل" />
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            <div class="col-12">
                                <select asp-for="Category">
                                    <option value="">- دامنۀ ارتباطی خود را انتخاب کنید -</option>
                                    <option value="1">تولید</option>
                                    <option value="2">فروش</option>
                                    <option value="3">مدیریت</option>
                                    <option value="4">منابع انسانی</option>
                                </select>
                            </div>
                            <span class="text-danger" asp-validation-for="Category"></span>
                            <div class="col-12">
                                <textarea asp-for="Message" placeholder="پیام خود را اینجا بنویسید" rows="6"></textarea>
                                <span class="text-danger" asp-validation-for="Message"></span>
                            </div>
                            <div class="col-12">
                                <ul class="actions">
                                    <li>
                                        <input type="submit" value="ارسال پیام" />
                                    </li>
                                    <li>
                                        <input type="reset" value="پاک کردن فرم" class="alt" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>