@model List<IndexProject>

@{
    ViewData["Title"] = "خانه";
}


@await Component.InvokeAsync("Projects")

<div class="container">
    <hr>
</div>

@await Component.InvokeAsync("Articles")

<div class="row py-5">

</div>